<%- include("./partials/header.ejs")%>

<h1 class="centered">Thoughtful.day</h1>

<div class="container text-center">
    _____________________________________________________________________
    <div class="row align-items-start">
        <div class="row">
            <div class="col">
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg> Put your thoughts on digital paper and get your day going</p>
              <p>---------------</p>
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg> Version 1.001 - Gratitude Journal</p>
            </div>
            <div class="col">
              <video controls width="500" height="400" autoplay loop muted>
                <source src="/videos/startmorning.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>          
    </div>
  </div>

  <div class="container text-center">
    _____________________________________________________________________
    <div class="row align-items-start">
        <div class="row">
            <div class="col">
                <video controls width="500" height="400" autoplay loop muted>
                    <source src="/videos/typingaway.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </div>
            <div class="col">
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                  </svg> Entries: We set up the journals for you. For a gratitude journal, we've included an inspirational quote, prompts to guide you, and tags to be able to encapsulate the entry. </p>
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                  </svg> Searchability: You can now search by words, dates, and tags. The system is built to be as transparent as possible.</p>
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                  </svg> Gameification: Research shows gameification will help keep you journaling. So we are gather a commitment from you, tracker your streak, and in the next version you'll get points for entries. </p>
              </video>
            </div>
          </div>          
    </div>
  </div>

<%- include("partials/footer.ejs") %>