* {
    background-color: rgb(247, 248, 249);
    font-family: 'Roboto Mono', monospace;
    margin:0;
}

h1 {
    font-size:40px;
}


h4 {
    margin: 10px;
}

.centered {
    text-align: center;
    margin:10px;
}

.row {
    display: flex;
    justify-content: space-between; /* aligns the columns at the start and end of the row */
    align-items: center; /* centers the content of the columns vertically */
  }


  
  