<%- include("../partials/header.ejs") %>

<h1>Welcome to you main</h1>

<p>I hope you enjoy using our app!</p>

<h2>Current streak: <%= currentStreak %></h2>
<h2>Longest streak: <%= longestStreak %></h2>

<%- include("../partials/footer.ejs") %>
